.product {
  padding: 60px 0 180px;
  /* .product__title */
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    text-align: center;
  }
  &__content-new {
    display: none;
  }
  &__img {
    object-fit: cover;
    margin-top: 20px;
  }
  /* .product__filter-btn */
  &__filter-btn {
    text-align: center;
    margin-top: 35px;
    @extend %dmsans-700;
    font-size: 16px;
    margin-bottom: 80px;
  }
  /* .product__btn */
  &__btn {
    border: none;
    background-color: #fff;
    opacity: 0.4;
  }
  &__btn--active {
    opacity: 1;
  }
  &__btn + .product__btn {
    margin-left: 30px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  /* .product__content-item */
  &__content-item {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    min-width: 270px;
    text-align: center;
    padding: 15px 30px;
    &.product__content-item--list {
      min-width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      .product__img-box {
        overflow: inherit;
      }

      .product__img {
        display: block;
        border: 3px solid #f6f6f6;
        min-height: 370px;
        max-width: 260px;
        object-fit: scale-down;
        margin-right: 60px;
      }
      .link_newbox {
        &::before {
          border-radius: 0;
        }
      }
      .product-mod {
        display: none;
      }
      .product__link-box {
        transform: translateY(0%);
        display: none;
      }
      .product__name {
        margin-top: 100px;
      }
      .product__content-new {
        display: flex;
        flex-direction: column;
      }
      .product-item__wrapper-box {
        display: flex;
        flex-direction: column;
        @extend %rubik-400;
      }
      .product__name {
        font-size: 40px;
        line-height: 26px;
        margin: 40px 0;
      }
      .product__text {
        margin: 15px 0;
      }
      .product__price {
        font-size: 30px;
        line-height: 45px;
        color: #333333;
      }
      .product__price {
        margin: 0;
        margin-top: 15px;
      }
      .product__content-btn {
        padding: 15px 50px;
        background-color: #a3bbc8;
        width: 210px;
        border: none;
        border-radius: 5px;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #fff;
      }
      .filter-recent__star {
        order: -1;
      }
    }
  }

  &__img-box {
    position: relative;
    overflow: hidden;
    z-index: 1;
    img{
      object-fit: cover;
    }
    min-height: 270px;
    &:hover {
      .product__link-box {
        transform: translateY(0%);
      }
    }
  }
  /* .product__link-box */
  &__link-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transform: translateY(400%);
    transition: all 0.3s;
  }
  /* .product__link */
  &__link {
    position: relative;
    z-index: 10;
    margin: 0 15px;
    path {
      fill: #a3bbc8;
      transition: all 0.3s;
    }
    &::before {
      content: "";
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      position: absolute;
      top: 50%;
      right: -10px;
      z-index: -1;
      transform: translateY(-65%);
    }
  }
  &__link:hover {
    path {
      fill: #fff;
    }
    &::before {
      background-color: #a3bbc8;
    }
  }
  &__name {
    @extend %dmsans-500;
    margin-top: auto;
    color: #243f4d;
    font-size: 16px;
    line-height: 40px;
  }
  /* .product__price */
  &__price {
    margin-bottom: 30px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
  }
}

@media (max-width: 1200px) {
  .product {
    &__content {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__content-item {
      padding: 15px 60px;
    }
  }
}
@media (max-width: 950px) {
  .product {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      grid-gap: 10px;
    }
    &__content-item {
      min-width: 250px;
  
    }
    
  }
}
@media (max-width: 550px) {
  .product {
    padding: 40px 0;
    &__title {
      font-size: 26px;
    }
    &__btn {
      font-size: 12px;
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      grid-gap: 10px;
    }
    &__content-item {
      width: 100%;
    }
    &__btn + .product__btn {
      margin-left: 10px;
      padding: 0;
    }
  }
}
