html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.main {
  //  flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

%btn {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    align-items: center;
    background-color: #a3bbc8;
    @extend %rubik-500;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    width: 200px;
    height: 60px;
}