@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";



















.services {
  /* .services__inner */
  &__inner {
    padding-top: 110px;
    color: #243f4d;
  }
  /* .services__title */
  &__title {
    margin: 0 0 30px;
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
  }
  /* .services__text */
  &__text {
    @extend %rubik-400;
    margin-bottom: 30px;
    line-height: 30px;
    margin-left: 10px;
  }
  &__p {
    margin-bottom: 70px;
    margin-left: 0;
  }
}

.detalis-item {
  padding: 100px 0;
  /* .detalis-item__inner */

  &__inner {
    display: flex;
  }

  /* .detalis-item__slide */

  /* .detalis-item__content */

  &__content {
    @extend %rubik-400;
  }

  /* .detalis-item__title */

  &__title {
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  &__text {
    color: #243f4d;
    margin-bottom: 30px;
  }
  /* .detalis-item__form */
  &__star {
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    align-items: center;

    margin-left: 50px;
  }

  &__btn {
    @extend %btn;
    height: 52px;
    border: none;
    border-radius: 8px;
    justify-content: center;
    padding-left: 0;
    margin-left: 28px;
  }
  &__list {
    margin-top: 50px;
  }
  &__list-items {
    display: flex;
    color: #243f4d;
    p + p {
      margin-left: 5px;
    }
  }
}
.detalis-slide {
  /* .detalis-slide__thumb */
  display: flex;
  &__thumb {
    width: 135px;
    margin-right: 25px;
  }

  /* .detalis-slide__thumb-item */

  &__thumb-item {
    height: 155px;
    width: 135px;
    margin-bottom: 23px;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    img {
      height: 155px;
      width: 135px;
      object-fit: cover;
    }
  }

  /* .detalis-slide__big */

  &__big {
    width: 385px;
    margin-right: 70px;
  }

  /* .detalis-slide__big-item */

  &__big-item {
    width: 390px;
    height: 530px;
    border: 2px solid #f2f2f2;
    img {
      width: 390px;
      height: 530px;
      object-fit: scale-down;
    }
  }
}
.blog-page {
  /* .blog-page__inner */

  &__inner {
    padding: 120px 0 0;
    display: flex;
  }

  /* .blog-page__content */

  &__content {
    width: 830px;
    margin-right: 60px;
  }

  &__content-box {
    width: 830px;
    margin-bottom: 40px;
    position: relative;
    img {
      width: 830px;
      height: 500px;
      object-fit: cover;
    }
  }

  /* .blog-page__content-author */

  &__content-author {
    @extend %rubik-400;
    background-color: #a3bbc8;
    width: 275px;
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 7px;
    left: 0;
    align-items: center;
    font-size: 12px;
    line-height: 30px;
    justify-content: space-evenly;
    color: #fff;
    padding-left: 17px;
    .blog__date,
    .blog__author {
      &.blog__date--page {
        &::before {
          background-color: inherit;
        }
      }
    }
  }

  /* .blog-page__content-title */

  &__content-title {
    margin-bottom: 30px;
    @extend %rubik-400;
    font-size: 36px;
    line-height: 26px;
  }

  /* .blog-page__content-text */

  &__content-text {
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 40px;
  }

  /* .blog-page__content-link */

  &__content-link {
    margin-bottom: 45px;
    @extend %btn;
    background-color: inherit;
    border: 1px solid #a3bbc8;
    color: #a3bbc8;
    position: relative;
    &::after {
      content: "";
      background-image: url("../images/btn-blog.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 23px;
      height: 13px;
      top: 27px;
      right: 15px;
    }
  }

  /* .blog-page__aside */

  &__aside {
    width: 270px;
  }

  &__form {
    display: flex;
  }

  /* .blog-page__input */

  &__input {
    background: inherit;
    border: 2px solid #edf1f4;
    border-radius: 4px;
    height: 40px;
    outline: none;
  }

  /* .blog-page__btn */

  &__btn {
    margin-left: -3px;
    width: 40px;
    height: 40px;
    background-color: #edf1f4;
    border: none;
    border-radius: 4px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 17px;
      height: 17px;
      background-image: url("../images/blog/search.svg");
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: 11px;
    }
  }
}
.author {
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  height: 132px;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
  /* .author__box */

  &__box {
    display: flex;
    align-items: center;
  }

  /* .author__name */

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    @extend %rubik-500;
    color: #333333;
    p {
      margin-bottom: 0;
    }
  }

  /* .author__proff */

  &__proff {
    @extend %rubik-400;
    color: #666666;
  }
}
.avatar {
  width: 78px;
  height: 78px;
  object-fit: cover;
  margin-right: 25px;
}
.share-box {
  /* .share-box__tag */
  min-width: 200px;
  &__tag {
    color: #999999;
  }

  /* .share-box__link 
}
.tags {
  /* .tags__span */

  &__span {
    display: inline-block;
    margin-right: 15px;
    margin-right: auto;
  }
}
.share {
  /* .share__span */
  display: flex;
  justify-content: space-between;
}

.comments {
  margin-bottom: 70px;
  /* .comments__content */
  .comments-title {
    @extend %rubik-500;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #436372;
  }
  .comments-avatar {
    min-width: 100px;
    img {
      min-height: 100px;
      object-fit: cover;
    }
  }

  /* .comments__content-top */

  &__content-top {
    display: flex;
    justify-content: space-between;
  }

  /* .comments__author */

  &__author {
    @extend %rubik-500;
    font-weight: 700;
    color: #436372;
  }

  /* .comments__data */

  &__data {
    @extend %rubik-400;
    font-size: 14px;
    color: #9e9e9e;
  }

  /* .comments__messege */

  &__messege {
    color: #565872;
  }

  /* .comments__peply */

  &__peply {
    font-size: 14px;
    color: #516278;
    position: relative;
    padding-right: 30px;
    &::after {
      position: absolute;
      content: "";
      width: 23px;
      height: 13px;
      background-image: url("../images/btn-copy.svg");
      background-repeat: no-repeat;
      right: 0;
      top: 50%;
      transform: translateY(-32%);
    }
  }
}
.comments-item {
  height: 220px;
  min-width: 100%;
  display: flex;
  padding: 30px 0;
  align-items: flex-start;
  &.comments-item--reply {
    margin-left: 130px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }
}
.comments-avatar {
  margin-right: 30px;
}
.form-comment {
  padding: 50px 0 115px;
  /* .form-comment__form */
  &__title {
    @extend %rubik-500;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #436372;
  }
  &__form {
    max-width: 650px;
  }
  /* .form-comment__inputs */

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  /* .form-comment__input */
  &__label {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 15px;
      top: 50%;
      transform: translateY(-50%);

      background-repeat: no-repeat;
    }
  }
  &__label--user::after {
    background-image: url("../images/blog-one/user.svg");
    right: 20px;
  }
  &__label--mail::after {
    background-image: url("../images/blog-one/mail.svg");
    right: 20px;
  }
  &__label--textarea::after {
    background-image: url("../images/blog-one/form-area.svg");
    left: 613px;
    top: 45px;
  }

  &__input {
    max-width: 400px;
    min-width: 300px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid;
    border-color: #a3bbc8;
  }
  input:focus::placeholder {
    color: #333333;
  }
  textarea:focus::placeholder {
    color: #333333;
  }

  &__textarea {
    border: 1px solid;
    border-color: #a3bbc8;
    max-width: 650px;
    padding: 15px 0 0 20px;
    height: 120px;
    margin-top: 20px;
    display: block;
    position: relative;
    min-width: 650px;
    max-height: 200px;
    min-height: 200px;

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 15px;
      background-color: #000;
      bottom: 0;
      right: 0;
      background-image: url("../images/blog-one/form-area.svg");
    }
  }

  /* .form-comment__btn */

  &__btn {
    padding: 15px 35px;
    background-color: #a3bbc8;
    @extend %rubik-400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin-top: 40px;
  }
}

.blog-one {
  &__content {
    line-height: 30px;
    @extend %rubik-400;
    h3 {
      font-size: 36px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    h5 {
      @extend %rubik-500;
      color: #243f4d;
      font-size: 18px;
      margin-top: 85px;
    }
    blockquote {
      padding: 25px 0 25px 35px;
      margin: 50px auto;
      background: #edf1f4;
      border-left: 3px solid #a3bbc8;
      span {
        display: block;
        position: relative;
        padding-left: 45px;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 3px;
          background-color: #a3bbc8;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
  }
  &__img {
    width: 320px;
    height: 210px;
    object-fit: cover;
    float: left;
    margin-right: 30px;
  }
  &__text {
    p {
      @extend %rubik-500;
      color: #243f4d;
    }
  }
}

.filter-text {
  font-size: 14px;
  line-height: 20px;
  color: #9a9a9a;
  margin-bottom: 4px;
}
.blog__date--filter {
  margin-right: 0;
  margin-left: 20px;
  font-size: 12px;
  color: #9a9a9a;
  &::before {
    background: inherit;
    background-image: url("../images/blog/calendar-gray.svg");
  }
}
.detalis-tabs {
  /* .detalis-tabs__top */
  @extend %rubik-400;
  &__top {
    display: flex;
    max-width: 750px;
    justify-content: space-between;
    margin: 0 auto;
  }

  /* .detalis-tabs__top-item */

  &__top-item {
    @extend %btn;
    @extend %rubik-500;
    width: 240px;
    height: 55px;
    text-align: center;
    padding-left: 0;
    border-radius: 6px;
    justify-content: center;
    background-color: #edf1f4;
    color: #243f4d;
    &.detalis-tabs__top-item--active {
      background-color: #a3bbc8;
      color: #fff;
    }
  }

  /* .detalis-tabs__num */

  &__num {
    margin-left: 5px;
  }

  /* .detalis-tabs__content */

  &__content {
    margin-top: 40px;
  }

  /* .detalis-tabs__content-item */

  &__content-item {
    display: none;
    &.detalis-tabs__content-item--active {
      display: block;
    }
  }
}

.detalis-bottomslider {
  /* .detalis-bottomslider__inner */
  padding-top: 115px;

  &__inner {
    position: relative;
  }

  /* .detalis-bottomslider__title */

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #243f4d;
  }

  /* .detalis-bottomslider__items */

  &__items {
    padding: 80px 0 0;
    display: flex;
    cursor: pointer;
  }
}
.slick-arrow {
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #a3bbc8;
  background: inherit;
  position: absolute;
  border-radius: 5px;
  top: -38px;
  background-repeat: no-repeat;
  background-position: center;
  &.slick-prev {
    right: 65px;
    background-image: url("../images/btn-copy.svg");
    transform: rotate(-180deg);
  }

  &.slick-next {
    right: 0;
    background-image: url("../images/btn-copy.svg");
  }
}

.login {
  /* .login__form */
  &__form {
    padding: 120px 0;
    max-width: 470px;
    margin: 0 auto;
    color: #436372;
  }
  /* .login__label */
  &__label {
    display: block;
    color: #436372;
    margin-bottom: 30px;
    @extend %rubik-400;
  }
  &__item-box {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
  }
  &__form-checkbox {
    margin: 0 10px 0 0;
  }
  &__checkbox {
    display: flex;
    align-items: center;
  }
  /* .login__form-input */
  &__form-input {
    display: block;
    width: 100%;
  }
  /* .login__form-button */
  &__form-button {
    @extend %btn;
    border: none;
    width: 470px;
    justify-content: center;
    padding: 0;
  }
  /* .login__error */
  &__error {
    font-size: 14px;
    @extend %rubik-400;
  }
  &__descr {
    text-align: center;
    margin: 25px 0;
    font-size: 14px;
    @extend %rubik-400;
  }
  /* .login__registr */
  &__registr {
    @extend %btn;
    background-color: #fff;
    color: #243f4d;
    width: 470px;
    padding: 0;
    justify-content: center;
    border: 1px solid #a3bbc8;
    font-size: 18px;
  }
  &__partners {
    padding: 83px 0;
    background-color: #fef7f0;
  }
  &__partner-list {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.shop {
  /* .shop__inner */
  &__inner {
    display: flex;
    padding: 115px 0 0;
    flex-wrap: wrap;
  }
}

.shop-content {
  width: 100%;
  max-width: 870px;
  &__filters {
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    max-width: 280px;
    align-items: flex-start;
    display: flex;
  }
  /* .shop-content__filter-buttons */
  &__filter-buttons {
    display: flex;
    justify-content: center;
  }
  /* .shop-content__filter-btn */
  &__filter-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active {
      path {
        fill: #fe3e57;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product__content-item {
      margin-bottom: 40px;
    }
  }
  /* .shop-content__nav */
}

.filter {
  /* .filter__item */
  &__blog-item {
    margin-bottom: 55px;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  &__item {
    margin-bottom: 65px;
    color: #243f4d;
    height: 270px;
    margin-right: 70px;
    @extend %rubik-400;
    &:last-child {
      margin-bottom: 0;
    }
  }
  /* .filter__title */
  &__title {
    display: inline-flex;
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: rgb(163, 187, 200);
      right: -55px;
      bottom: 11px;
    }
  }
  &__button {
    display: block;
    width: 100%;
    border: none;
    background-color: #fff;
    text-align: left;
    padding: 10px 15px;
    @extend %rubik-400;
    font-size: 16px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/product/icons/filter-arrow.svg");
      width: 6px;
      height: 10px;
      background-repeat: no-repeat;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__button--active {
    background-color: #edf1f4;
  }
}

.filter-recent {
  /* .filter-recent__item */
  &__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 28px;
    align-items: center;
  }
  /* .filter-recent__img */
  &__img {
    object-fit: contain;
    width: 70px;
    height: 65px;
  }
  /* .filter-recent__info */
  &__info {
    @extend %rubik-400;
    margin-left: 25px;
  }
  /* .filter-recent__name */
  &__name {
    font-size: 14px;
  }
  &__star {
    font-size: 14px;
  }
  &__price {
    font-size: 15px;
  }
}

.filter-category {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
  &__label {
    @extend %rubik-400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/product/icons/filter-arrow.svg");
      width: 6px;
      height: 10px;
      background-repeat: no-repeat;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__checkbox {
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    color: #243f4d;
  }
}

.filter-brand {
  /* .filter-brand__form */
  margin-top: 0;
  margin-bottom: 60px;

  &__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  /* .filter-brand__input */
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #a3bbc8;
  border-radius: 0;
  user-select: none;
  cursor: pointer;
  background: inherit;
  &.minus {
    top: 50%;
    transform: translateY(-50%);
    left: -49px;
    &::after {
      content: "-";
      position: absolute;
      font-size: 22px;
      line-height: 0;
      border: none;
      top: 24px;
      left: 21px;
    }
  }
  &.plus {
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
    &::after {
      border: none;
    }
    &::before {
      content: "+";
      position: absolute;
      font-size: 22px;
      line-height: 0;
      border: none;
      top: 24px;
      right: 17px;
    }
  }
}
.jq-number__field {
  border: 1px solid #a3bbc8;
  width: 50px;
  height: 50px;
  background: inherit;
  border-radius: 0;
  input {
    text-align: center;
    line-height: 2.2;
  }
}
#map {
  width: 500px;
  height: 330px;
}

.blog-contact{
  color: #436372;
  .blog-link {
    path{
      fill: #436372;
    }
  }
}

.contacts {
  padding: 120px 0;

  &__subtitle {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #a3bbc8;
    margin-bottom: 15px;
  }

  /* .contacts__title */

  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 35px;
    line-height: 57px;
    color: #436372;
  }

  /* .contacts__top */

  &__top {
    padding: 75px 0 115px;
    display: flex;
    justify-content: space-between;
  }

  /* .contacts__top-link */

  &__top-item {
    background-color: #fbfbfb;
    width: 370px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #565872;
    border-radius: 3px;
    &.contacts__top-item--active {
      border: 2px solid #a3bbc8;
      .contacts__top-link {
        background-color: #a3bbc8;
        path {
          fill: #fff;
        }
      }
    }
  }

  /* .contacts__top-title */
  &__top-link {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    transition: all 0.9s;
  }

  &__top-title {
    @extend %dmsans-700;
    font-size: 20px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* .contacts__top-text */

  &__top-text {
    @extend %rubik-400;
    margin-top: 10px;
  }

  /* .contacts__bottom */

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

@import "media";
