@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header {
    padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-text {
        font-size: 36px;
        color: $accent;
        line-height: 58px;
        text-align: left;
        @extend %rubik-500;
    }
    &__nav-menu {
        display: flex;
    }
    &__menu-list+.header__menu-list {
        padding-left: 25px;
    }
    &__menu-link {
        font-size: 15px;
        color: $accent;
        @extend %rubik-400;
        line-height: 12px;
        transition: all .3s;
    }
    &__menu-link:hover {
        color: aqua;
        @extend %rubik-500;
    }
    .user-nav {
        display: flex;
        align-items: center;
        &__box {
            position: relative;
            display: flex;
            border-radius: 25px;
            background-color: rgb(252, 215, 182);
            width: 178px;
            height: 51px;
            justify-content: space-around;
            align-items: center;
            margin-right: 20px;
        }
        &__box::before {
            content: '';
            background-color: rgb(255, 255, 255);
            opacity: 0.4;
            position: absolute;
            width: 1px;
            height: 32px;
            z-index: 1;
        }
        &__num {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: -2px;
            left: 13px;
            font-size: 10px;
            line-height: 1;
            background-color: #fff;
            @extend %dmsans-400;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link {
            position: relative;
            margin-top: 8px;
        }
        &__link-search {
            display: flex;
            background-color: #edf1f4;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        &__link-burger {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #a3bbc8;
            position: relative;
        }
        &__burger-inner {
            position: absolute;
            bottom: 8px;
            right: 14px;
        }
    }
}

.logo {
    display: inline-flex;
    width: 136px;
    height: 42px;
}

.footer {
    padding-top: 80px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    .footer-top {
        display: flex;
        justify-content: space-between;
        color: $mc;
        padding: 70px 0;
        &__item {
            display: flex;
            flex-direction: column;
        }
        &__adress {
            margin: 25px 0 10px;
            max-width: 185px;
        }
        &__phone {
            margin-bottom: 10px;
        }
        &__title {
            font-size: 16px;
            @extend %dmsans-700;
            text-transform: uppercase;
            color: #1f2044;
            margin: 20px 0;
            align-items: flex-start;
        }
        &__menu-link {
            line-height: 32px;
            font-size: 14px;
        }
        &__form {
            display: flex;
        }
        &__form-input {
            background-color: $bg;
            border: none;
            padding: 10px 15px;
            &::placeholder {
                color: #336894;
                font-size: 12px;
            }
        }
        &__text {
            max-width: 225px;
            margin-bottom: 30px;
        }
        &__form-button {
            background-color: rgb(163, 187, 200);
            padding: 10px 16px;
            color: #fff;
            border: none;
        }
    }
    .footer-bot {
        padding: 35px 0;
        @extend %rubik-400;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $mc;
        opacity: 0.4;
    }
    .menu {
        display: flex;
        max-width: 260px;
        justify-content: space-between;
        &__item+.menu__item {
            margin-left: 25px;
            position: relative;
            &::after {
                content: '';
                background-color: $mc;
                opacity: 0.4;
                position: absolute;
                width: 1px;
                height: 16px;
                top: 5px;
                left: -13px;
            }
        }
    }
}

@import 'media';