.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
 
  &__nav-menu {
    display: flex;
  }
  &__menu-list + .header__menu-list {
    padding-left: 25px;
  }
  &__menu-link {
    font-size: 15px;
    color: $accent;
    @extend %rubik-400;
    line-height: 12px;
    transition: all 0.3s;
  }
  &__menu-link:hover {
    color: aqua;
    @extend %rubik-500;
  }
  .user-nav {
    display: flex;
    align-items: center;
    &__box {
      position: relative;
      display: flex;
      border-radius: 25px;
      background-color: rgb(252, 215, 182);
      width: 178px;
      height: 51px;
      justify-content: space-around;
      align-items: center;
      margin-right: 20px;
      &::before {
        content: "";
        background-color: rgb(255, 255, 255);
        opacity: 0.4;
        position: absolute;
        width: 1px;
        height: 32px;
        z-index: 1;
      }
    }
    &__num {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: -2px;
      left: 13px;
      font-size: 10px;
      line-height: 1;
      background-color: #fff;
      @extend %dmsans-400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__link {
      position: relative;
      margin-top: 8px;
    }
    &__link-search {
      display: flex;
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    &__link-burger {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #a3bbc8;
      position: relative;
    }
    &__burger-inner {
      position: absolute;
      bottom: 8px;
      right: 14px;
    }
  }
}

