.lamp {
  padding: 50px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  /* .lamp__left */
  &__left {
    background-color: #feefe2;
    max-width: 740px;
    width: 100%;
    display: flex;
    padding: 90px 0;
    position: relative;
  }
  /* .lamp__left-img */
  &__left-img {
    position: absolute;
    left: 88px;
    top: -95px;
  }
  /* .lamp__content */
  &__content {
    color: #243f4d;
    max-width: 405px;
    margin-left: auto;
  }
  /* .lamp__title */
  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
  }
  /* .lamp__descript */
  &__descript {
    margin-top: 30px;
    @extend %rubik-400;
    line-height: 30px;
    font-size: 16px;
  }
  /* .lamp__btn */
  &__btn {
    @extend %btn;
    margin-top: 35px;
    border-radius: 10px;
    position: relative;
    background-color: #feefe2;
    border: 1px solid #436372;
    color: #436372;
    &::after {
      content: "";
      background-image: url("../images/btn-copy.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 23px;
      height: 13px;
      top: 27px;
      right: 15px;
    }
  }
  &__right {
    background-color: #feefe2;
    max-width: 740px;
    width: 100%;
    display: flex;
    position: relative;
    padding: 90px 0;
  }
  /* .lamp__right-img */
  &__right-img {
    position: absolute;
    left: 81px;
    top: -90px;
  }
}