<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Document</title>
</head>

<body>
  {% include 'app/module/_header/_header.html' %}
  <main class="main">
    {% include 'app/module/_top-nav/_top-nav.html' %}
    <section class="blog-page">

      <div class="container-wrapper">
        <div class="blog-page__inner">
          <div class="blog-page__content">

            <div class="blog-page__content-item">
              <div class="blog-page__content-box">
                <img src="images/blog/blog1.jpg" alt="">
                <div class="blog-page__content-author">
                  <p class="blog__date blog__date--page"> 28 JANUARY, 2020 </p>
                  <p class="blog__author blog__date--page"> BY ADMIN </p>
                </div>
              </div>
              <h4 class="blog-page__content-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__content-link" href="blog-one.html">View More</a>
            </div>

            <div class="blog-page__content-item">
              <div class="blog-page__content-box">
                <img src="images/blog/blog2.jpg" alt="">
                <div class="blog-page__content-author">
                  <p class="blog__date blog__date--page"> 28 JANUARY, 2020 </p>
                  <p class="blog__author blog__date--page"> BY ADMIN </p>
                </div>
              </div>
              <h4 class="blog-page__content-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__content-link" href="#">View More</a>
            </div>

            <div class="blog-page__content-item">
              <div class="blog-page__content-box">
                <img src="images/blog/5.jpg" alt="">
                <div class="blog-page__content-author">
                  <p class="blog__date blog__date--page"> 28 JANUARY, 2020 </p>
                  <p class="blog__author blog__date--page"> BY ADMIN </p>
                </div>
              </div>
              <h4 class="blog-page__content-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__content-link" href="#">View More</a>
            </div>

            <div class="blog-page__content-item">
              <div class="blog-page__content-box">
                <img src="images/blog/4.jpg" alt="">
                <div class="blog-page__content-author">
                  <p class="blog__date blog__date--page"> 28 JANUARY, 2020 </p>
                  <p class="blog__author blog__date--page"> BY ADMIN </p>
                </div>
              </div>
              <h4 class="blog-page__content-title">
                Fonsectetur adipisicing eiusmod
              </h4>
              <p class="blog-page__content-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-page__content-link" href="#">View More</a>
            </div>

            <div class="pagination pagination--blog pagination--list">
              <a href="#" class="pagination__link pagination__link--active">
                1
              </a>
              <a href="#" class="pagination__link">2</a>
              <a href="#" class="pagination__link">3</a>
              <a href="#" class="pagination__link">Next</a>
            </div>
          </div>


          <div class="blog-page__aside">

            <div class="blog-page__search filter__blog-item">
              <form class="blog-page__form" action="#">
                <input class="blog-page__input" type="search">
                <button class="blog-page__btn"></button>
              </form>
            </div>

            <div class="filter-category filter__blog-item">
              <h4 class="filter__title">
                Category
              </h4>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <span class="filter-category__checkbox">Chair</span>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <span class="filter-category__checkbox">Table</span>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <span class="filter-category__checkbox">Lamp</span>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <span class="filter-category__checkbox">Watch</span>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <span class="filter-category__checkbox">Clock</span>
                </label>
              </form>
            </div>

            <div class="filter__blog-item filter-recent">
              <h4 class="filter__title">RECENT Post</h4>
              <a class="filter-recent__item" href="#">
                <img src="images/blog/blog1.jpg" alt="" class="filter-recent__img">
                <div class="filter-recent__info">
                  <p class="filter-text">Corem ipsum dolor tetur adipisicing elit</p>
                  <p class="blog__date blog__date--filter"> 28 JANUARY, 2020 </p>
                </div>
              </a>
              <a class="filter-recent__item" href="#">
                <img src="images/blog/blog2.jpg" alt="" class="filter-recent__img">
                <div class="filter-recent__info">
                  <p class="filter-text">Fdipisicing elit, sed do eiusmod tempor</p>
                  <p class="blog__date blog__date--filter"> 28 JANUARY, 2020 </p>
                </div>
              </a>
              <a class="filter-recent__item" href="#">
                <img src="images/blog/blog3.jpg" alt="" class="filter-recent__img">
                <div class="filter-recent__info">
                  <p class="filter-text">Eonsectetur adipisicing elit, sed do eiusmod</p>
                  <p class="blog__date blog__date--filter"> 28 JANUARY, 2020 </p>
                </div>
              </a>
              <a class="filter-recent__item" href="#">
                <img src="images/blog/5.jpg" alt="" class="filter-recent__img">
                <div class="filter-recent__info">
                  <p class="filter-text">gnim ad minim veniam, quis nostrud</p>
                  <p class="blog__date blog__date--filter"> 28 JANUARY, 2020 </p>
                </div>
              </a>
            </div>

          </div>
        </div>





      </div>
      <div class="login__partners">
        <div class="login__partner-list ">
          <img class="blog__partnerlogo " src="images/blog/partner1.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner2.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner3.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner4.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner5.png " alt=" ">
        </div>
      </div>
    
    </section>
  </main>



  {% include 'app/module/_footer/_footer.html' %}
    <script src="js/main.min.js "></script>


</body>

</html>