<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Document</title>
</head>

<body>
 {% include 'app/module/_header/_header.html' %}
  <main class="main">
    {% include 'app/module/_top-nav/_top-nav.html' %}
    <section class="login">
      <form class="login__form" action="#">
        <label class="login__label">
          Username or email address *
          <input class="login__form-input" type="text">
        </label>
        <label class="login__label">
          Password*
          <input class="login__form-input" type="password">
        </label>
        <button class="login__form-button" type="submit">Login</button>
        <div class="login__item-box">
          <label class="login__checkbox">
            <input class="login__form-checkbox" type="checkbox">
            Remember me
          </label>
          <a class="login__error" href="#">Lost your password?</a>
        </div>
        <p class="login__descr">Not registered? No problem?</p>
        <a class="login__registr" href="#">Create an account</a>

      </form>
      <div class="login__partners">
        <div class="login__partner-list ">
          <img class="blog__partnerlogo  " src="images/blog/partner1.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner2.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner3.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner4.png " alt=" ">
          <img class="blog__partnerlogo " src="images/blog/partner5.png " alt=" ">
        </div>
      </div>
    </section>
  </main>
{% include 'app/module/_footer/_footer.html' %}
  <script src="js/main.min.js "></script>
</body>

</html>